<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cadastros - Funções</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal fade" id="ModalJobTitle">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #3072AB; color: #FFFFFF;" >
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Fechar</span>
                        </button>
                        <h3 class="modal-title" id="memberModalLabel">Cadastros - Funções</h3>
                    </div>
                    <div class="modal-body">
                        <form class="contact" id="FormJobTitle">
                            <label for="JobTLongname" class="control-label">Descrição Longa:</label>
                            <br>
                            <input id="JobTLongname" type="text" name="longname" class="form-control text-center" pattern="[a-z\u00C0-\u00ffA-Z._-]{0,40}">
                            <br>
                            <label  class="control-label" for="JobTShortname">Descrição Curta:</label><br>
                            <input id="JobTShortname" type="text" name="shortname" class="form-control text-center" pattern="[a-z\u00C0-\u00ffA-Z._-]{0,30}">
                            <br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Salvar!" id="submitAddJobTitle">
                        <a href="#" class="btn" data-dismiss="modal">Sair</a>
                    </div>
                    <!-- where the response will be displayed -->
                    <div id='res-jobtitle'></div>
                </div>
            </div>  
        </div>
    </body>
    <script>
        /***
         * Funtion to add a new JobTitle for Staff.
         */
        $(document).ready(function () {
            $("#submitAddJobTitle").click(function () {
                if (beforeSubmit() == true) {
                    $.ajax({
                        type: "POST",
                        url: "<?php echo URL; ?>mngjob/AddJobTitle",
                        data: $('#FormJobTitle').serialize()
                    }).done(function (data) {
                        //var obj = $.parseJSON(data);
                        // show the response
                        $('#res-jobtitle').html(data);
                        console.log("Result....: " + data);
                        $("#JobTLongname").val('');
                        $("#JobTShortname").val('');
                        search_jobtitles();
                        //
                    }).fail(function (data) {
                        $('#res-jobtitle').html(data);
                        console.log("Posting Failed Result....: " + data);
                        // just in case posting your form failed
                    });
                }
            });
            
            //function to check empty field before data send.
            function beforeSubmit() {

                if (!$("#JobTLongname").val()) //check empty input filed
                {
                    $msg = "Informe uma Descrição para Função do Colaborador!";
                    $msg = getMsg($msg);

                   $('#res-jobtitle').html($msg);
                    //
                    return false;
                }

                if (!$("#JobTShortname").val()) {
                    $msg = "Informe uma Descrição Curta!";
                    $msg = getMsg($msg);

                   $('#res-jobtitle').html($msg);
                    //
                    return false;
                }
                //
                $('#res-jobtitle').html("");
                //
                return true;
            }
            //
            function getMsg($msg) {
                //
                $strmsg = "<div class='alert alert-block alert-danger fade in'><button type='button' class='close' data-dismiss='alert'>×</button><h4 class='alert-heading'>";
                $strmsg += $msg;
                $strmsg += "</h4></div>";
                //
                return $strmsg;
            }
        });

        /**
         * Function to search Jobtitles to
         * update jobtitles list 
         * @returns {undefined}     
         */
        function search_jobtitles() {
            var url = '<?php echo URL; ?>mngjob/updateJobTitle';
            $.get(url, function (dataReturn) {
                $('#DivJobTitle').html(dataReturn);
            });
        }

    </script>
</html>
