<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cadastros - Tipo de Clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal fade" id="ModalCustType">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #3072AB; color: #FFFFFF;" >
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                        <h3 class="modal-title" id="memberModalLabel">Cadastros - Tipo de Clientes</h3>
                    </div>
                    <div class="modal-body">
                        <form class="contact" id="FormCustType">
                            <label for="CustTypeLongname" class="control-label">Descrição Longa:</label><br>
                            <input id="CustTypeLongname"type="text" name="longname" class="form-control text-center"/><br>
                            <label  class="control-label" for="CustTypeShortname">Descrição Curta:</label><br>
                            <input  id="CustTypeShortname"type="text" name="shortname" class="form-control text-center"/><br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Enviar!" id="submitSendCustTypeForm">
                        <a href="#" class="btn" data-dismiss="modal">Sair</a>
                    </div>
                    <!-- where the response will be displayed -->
                    <div id='res-custtype'></div>
                </div>
            </div>  
        </div>
    </body>
    <script>
        /***
         * Funtion to add a new CustType for 
         * Customer.
         */
        $(document).ready(function () {
            $("#submitSendCustTypeForm").click(function () {
                //
                if (beforeSubmit() == true) {
                    //
                    $.ajax({
                        type: "POST",
                        url: "<?php echo URL; ?>mngcust/addCTypeSave",
                        data: $('#FormCustType').serialize()
                    }).done(function (data) {
                        $('#res-custtype').html(data);
                        console.log("Result....: " + data);
                        $("#CustTypeLongname").val('');
                        $("#CustTypeShortname").val('');
                        search_custtype();

                    }).fail(function (data) {
                        $('#res-custtype').html(data);
                        console.log("Posting Failed Result....: " + data);
                        // just in case posting your form failed
                    });
                }//endif
            });

            //function to check empty field before data send.
            function beforeSubmit() {

                if (!$("#CustTypeLongname").val()) //check empty input filed
                {
                    $msg = "Informe uma Descrição para o Tipo de Cliente!";
                    $msg = getMsg($msg);

                    $('#res-custtype').html($msg);
                    //
                    return false;
                }

                if (!$("#CustTypeShortname").val()) {
                    $msg = "Informe uma Descrição Curta!";
                    $msg = getMsg($msg);

                   $('#res-custtype').html($msg);
                    //
                    return false;
                }
                //
                $('#res-custtype').html("");
                //
                return true;
            }
            //
            function getMsg($msg) {
                //
                $strmsg = "<div class='alert alert-block alert-danger fade in'><button type='button' class='close' data-dismiss='alert'>×</button><h4 class='alert-heading'>";
                $strmsg += $msg;
                $strmsg += "</h4></div>";
                //
                return $strmsg;
            }
        });

        /**
         * Function to search CustType to
         * update customer types list 
         * @returns {undefined}     
         */
        function search_custtype() {
            var url = '<?php echo URL; ?>mngcust/updateCustType';
            $.get(url, function (dataReturn) {
                $('#DivCustType').html(dataReturn);
            });
        }

    </script>
</html>
